.multiselect-control {
	border-color: var(--border);
	box-shadow: none;
}

.multiselect-control:hover {
	border-color: var(--border) !important;
}

.multiselect-option:hover {
	background-color: var(--accent) !important;
	color: var(--accent-foreground) !important;
}